{% set chapters = collections.book | inFolder("category02") %}
<section id="category02" class="category{% if chapters[0].data.tocNested %} book-category{% endif %}">
  <h2 class="category-title">{{ chapters[0].data.categoryTitle }}</h2>
  {% for chapter in chapters %}
  <article id="{{ chapter | fileId }}" class="chapter">
    {{ chapter.templateContent | safe }}
  </article>
  {% endfor %}
</section>
