---
layout: book.njk
title: Experimental Publishing
---

<header>
  <h1 class="title">Experimental Publishing</h1>
  <p class="subtitle">A web-to-print prototype</p>
</header>

{# Table of Contents #}
{% include "sections/toc.njk" %}

{# All Front Matter #}
{% include "sections/introduction.njk" %}

{# Categories #}
{% include "sections/category01.njk" %}
{% include "sections/category02.njk" %}
{% include "sections/category03.njk" %}


{# All back matter pages #}
{% include "sections/conclusion.njk" %}

